.correction {
  background: url(../../assets/images/correction/corect-bg.jpg) no-repeat;
  background-size: cover;
  padding: 144px 0;
  color: white;
  @include breakpoint($tablet-bp) {
    margin-top: 70px;
    background-position: center;
  }
  @include breakpoint($mobile-bp) {
    padding: 72px 0 48px 0;
  }
}

.correction__title {
  font-size: 56px;
  line-height: 130%;
  max-width: 784px;
  margin: 0 auto 80px auto;
  text-align: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background: white;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  @include breakpoint($mobile-bp) {
    font-size: 30px;
    line-height: 130%;
    max-width: 288px;
    margin-bottom: 48px;
    &::before {
      bottom: -24px;
    }
  }
}

.correction__text {
  font-size: 24px;
  line-height: 25px;
  max-width: 401px;
  margin: 0 auto 80px auto;
  text-align: center;
  @include breakpoint($mobile-bp) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 56px;
  }
}

.correction__link {
  @extend %flex-center;
  margin: 0 0 160px 0;
  @include breakpoint($mobile-bp) {
    margin: 0 0 65px 0;
  }
}

.link__on__tel {
  display: inline-block;
  color: white;
  font-size: 18px;
  line-height: 18px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
  transition: 0.3s ease;
  &:hover {
    background: rgba(255, 255, 255, 0.26);
    border: 1px solid rgba(255, 255, 255, 0.26);
  }
}

.correction__scroll {
  @extend %flex-center;
  cursor: pointer;
  position: relative;
  animation-name: arrow_scroll;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes arrow_scroll {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }

  100% {
    top: 0px;
  }
}
