.menu__icon {
  display: none;
  position: relative;
  min-width: 24px;
  min-height: 14px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 1.1px;
    background: black;
    bottom: 0;
    transition: all 0.3s ease 0s;
  }
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 1.1px;
    background: black;
    top: 0;
    transition: all 0.3s ease 0s;
  }
  span {
    position: absolute;
    width: 24px;
    height: 1.1px;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease 0s;
  }

  &._active span {
    transform: scale(0) translate(0px, -50%);
  }

  &._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  &._active::after {
    transform: rotate(45deg) translate(0, 50%);
    bottom: 50%;
  }

  @include breakpoint($tablet-bp) {
    display: block;
  }
}
