.footer {
  padding: 80px 0;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);

  @include breakpoint($tablet-bp) {
    padding: 55px 0;
  }

  @include breakpoint($mobile-bp) {
    padding: 40px 0;
  }
}

.footer__item__nav {
  @include breakpoint($tablet-bp) {
    align-self: flex-start;
  }
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 0 56px 0;

  @include breakpoint($tablet-bp) {
    margin: 0 0 36px 0;
  }
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #363431;
  transition: 0.3s ease;
  &:hover {
    color: #c7df9e;
    text-decoration-line: underline;
  }

  @include breakpoint($mobile-bp) {
    font-size: 14px;
    line-height: 14px;
  }
}

.footer__social {
  display: flex;
  gap: 24px;

  @include breakpoint($tablet-bp) {
    margin: 0 0 24px 0;
  }
}

.icon-whatsup {
  width: 40px;
  height: 40px;
  background: #f3f3f3;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: relative;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    transition: 0.3s ease;
  }
  &:hover::before {
    color: #c7df9e;
  }
}

.icon-vk {
  width: 40px;
  height: 40px;
  background: #f3f3f3;
  border-radius: 50%;
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    transition: 0.3s ease;
  }

  &:hover::before {
    color: #c7df9e;
  }
}

.icon-google {
  width: 40px;
  height: 40px;
  background: #f3f3f3;
  border-radius: 50%;
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    transition: 0.3s ease;
  }

  &:hover::before {
    color: #c7df9e;
  }
}

.footer__item {
  p {
    font-size: 16px;
    line-height: 150%;
    max-width: 376px;

    &:first-child {
      margin: 0 0 16px 0;
    }

    &:nth-child(2) {
      margin: 0 0 8px 0;
    }

    @include breakpoint($mobile-bp) {
      font-size: 14px;
      line-height: 170%;
    }
  }
}

.footer__item__2 {
  p {
    font-size: 16px;
    line-height: 150%;
    max-width: 351px;

    &:first-child {
      margin: 0 0 16px 0;
    }

    &:nth-child(2) {
      margin: 0 0 32px 0;
    }

    @include breakpoint($tablet-bp) {
      max-width: 376px;
    }

    @include breakpoint($mobile-bp) {
      font-size: 14px;
      line-height: 170%;
    }
  }
}

.email__sand {
  display: flex;
}

.email__sand__in {
  flex: 1 1 260px;
  padding: 16px;
  background: #f3f3f3;
  &::placeholder {
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.03em;
    color: #aeacaa;

    @include breakpoint($mobile-bp) {
      font-size: 12px;
      line-height: 170%;
    }
  }
}

.button__email__in {
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
  background: #74b900;
  padding: 12px 30px;
  transition: 0.3s ease;
  &:hover {
    background: #c7df9e;
  }

  @include breakpoint($mobile-bp) {
    font-size: 14px;
    line-height: 170%;
  }
}

.footer__row__1 {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 0 0 13px 0;

  @include breakpoint($tablet-bp) {
    flex-direction: column;
    align-items: center;
    max-width: 376px;
    margin: 0 auto 32px auto;
  }
}

.footer__row__2 {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  @include breakpoint($tablet-bp) {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.footer__copyright {
  line-height: 16px;
  color: #828282;

  @include breakpoint($mobile-bp) {
    font-size: 12px;
    line-height: 130%;
  }
}

.politic__link {
  font-size: 16px;
  line-height: 170%;
  text-decoration-line: underline;
  color: #828282;
  transition: 0.3s ease;
  &:hover {
    color: #c7df9e;
    text-decoration-line: underline;
  }

  @include breakpoint($tablet-bp) {
    margin-bottom: 40px;
  }

  @include breakpoint($mobile-bp) {
    font-size: 12px;
    line-height: 170%;
  }
}
