.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0 15px;
  top: 0;
  left: 0;
  background: rgba(54, 52, 49, 0.5);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.8s ease;

  &._open {
    opacity: 1;
    visibility: visible;
  }
}

.popup__info {
  background: #ffffff;
  border-radius: 16px;
  max-width: 512px;
  padding: 72px 56px;
  position: relative;
  transform: translate(0, -200%);
  transition: 0s ease;

  &._open {
    transform: translate(0, 0);
    transition: 0.8s ease;
  }

  &._form-out {
    transform: translate(0, 100%);
    opacity: 0;
    transition: 0.8s ease;
  }

  @include breakpoint($mobile-bp) {
    padding: 48px 24px;
  }
}

.popup__close {
  width: 20px;
  height: 20px;
  background: url(../images/popup/close.png) center no-repeat;
  position: absolute;
  top: -35px;
  right: 0;
  cursor: pointer;
}

.popup__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  margin: 0 0 48px 0;

  @include breakpoint($mobile-bp) {
    font-size: 20px;
    line-height: 120%;
    margin: 0 0 24px 0;
  }
}

.js-input {
  width: 100%;
  padding: 20px;
  border: 0.5px solid #b2b2b2;
  border-radius: 4px;
  margin: 0 0 24px 0;

  @include breakpoint($mobile-bp) {
    margin: 0 0 16px 0;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 120%;
  }

  &._error {
    border: 1px solid red;
  }
}

.js-check {
  display: none;
  position: absolute;
}

.label__check {
  display: block;
  font-size: 12px;
  line-height: 150%;
  padding: 0 0 0 30px;
  margin: 0 0 40px 0;
  position: relative;

  @include breakpoint($mobile-bp) {
    font-size: 10px;
    line-height: 150%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #74b900;
    border-radius: 4px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #74b900;
    background: #74b900 url(../images/popup/galka.png) center no-repeat;
    border-radius: 4px;
    opacity: 0;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.3s ease;
  }

  &._error::before {
    border: 1px solid red;
  }
}

.js-check:checked + .label__check::after {
  opacity: 1;
}

.form-sumbit {
  display: block;
  max-width: 241px;
  background: transparent;
  font-size: 14px;
  line-height: 14px;
  color: #74b900;
  border: 1px solid #74b900;
  border-radius: 8px;
  padding: 20px 40px;
  margin: 0 auto;
  transition: 0.3s ease;

  &:hover {
    background: #d5ebb07e;
  }
}

/***********sucsesful**************/

.form__succsesfull {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
  position: fixed;
  transition: 0.8s ease;
}

.form__succsesfull._form-out {
  opacity: 1;
  transform: scale(0.9);
  visibility: visible;
}

.succsesful__text {
  font-size: 22px;
  line-height: 120%;
  max-width: 300px;
  text-align: center;

  @include breakpoint($mobile-bp) {
    font-size: 18px;
  }
}

.button__close {
  display: block;
  max-width: 241px;
  background: transparent;
  font-size: 14px;
  line-height: 14px;
  color: #74b900;
  border: 1px solid #74b900;
  border-radius: 8px;
  padding: 20px 40px;
  margin: 0 auto;
  transition: 0.3s ease;

  &:hover {
    background: #d5ebb07e;
  }
}
