.sale {
  padding: 176px 0 288px 0;
  background: #f3f3f3;

  @include breakpoint($tablet-bp) {
    padding: 116px 0 202px 0;
  }

  @include breakpoint($mobile-bp) {
    padding: 72px 0 152px 0;
  }
}

.slider__item {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 16px;

  @include breakpoint($tablet-bp) {
    flex-direction: column;
  }
}

.slider__item__info {
  max-width: 512px;
  padding: 15px;

  @include breakpoint($mobile-bp) {
    padding: 24px;
  }

  .item__info__title {
    font-size: 32px;
    line-height: 130%;
    margin: 0 0 24px 0;

    @include breakpoint($mobile-bp) {
      font-size: 20px;
      margin: 0 0 16px 0;
    }
  }

  .item__info__text {
    font-size: 18px;
    line-height: 170%;
    margin: 0 0 24px 0;

    @include breakpoint($mobile-bp) {
      font-size: 14px;
      margin: 0 0 16px 0;
    }
  }
}

.item__info__prise {
  font-size: 32px;
  line-height: 170%;
  color: #74b900;
  margin: 0 0 32px 0;

  @include breakpoint($mobile-bp) {
    font-size: 20px;
    margin: 0 0 16px 0;
  }

  span {
    text-decoration: line-through;
    font-size: 18px;
    line-height: 170%;

    @include breakpoint($mobile-bp) {
      font-size: 12px;
    }
  }
}

.item__info__link {
  font-size: 18px;
  line-height: 170%;
  color: #363431;
  position: relative;
  transition: 0.3s ease;

  @include breakpoint($mobile-bp) {
    font-size: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 107px;
    height: 1px;
    background: #363431;
    bottom: -15px;
    opacity: 0;
    transition: 0.3s ease;

    @include breakpoint($mobile-bp) {
      width: 70px;
      bottom: -5px;
      opacity: 1;
    }
  }

  &:hover {
    color: #c7df9e;
  }

  &:hover::before {
    bottom: -5px;
    opacity: 1;
    background: #c7df9e;
  }

  @include breakpoint($mobile-bp) {
    font-size: 12px;
    line-height: 170%;
  }
}

.slider {
  position: relative;
  /* отступ в слайдах*/
  margin: 0 -15px;

  .slick-slider {
    min-width: 0;
  }

  .slick-list {
    overflow: hidden;
  }

  /* отступ в слайдах*/
  .slick-slide {
    padding: 0 15px;
  }

  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slider {
  .slick-track {
    margin: 0 auto;
  }

  .slick-arrow {
    position: absolute;
    bottom: -112px;
    z-index: 5;
    font-size: 0;
    width: 64px;
    height: 64px;

    @include breakpoint($mobile-bp) {
      bottom: -80px;
      width: 40px;
      height: 40px;
    }
  }

  .slick-arrow.slick-prev {
    left: 30%;
    background: url(../images/sale/arrow-left.png) 0 0 / 100% no-repeat;

    @include breakpoint($tablet-bp) {
      left: 20%;
    }

    @include breakpoint($mobile-bp) {
      left: 10px;
    }
  }

  .slick-arrow.slick-next {
    right: 30%;
    background: url(../images/sale/arrow-right.png) 0 0 / 100% no-repeat;

    @include breakpoint($tablet-bp) {
      right: 20%;
    }

    @include breakpoint($mobile-bp) {
      right: 10px;
    }
  }
}

.slider {
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -82px;
    left: 50%;
    transform: translate(-50%, 0);

    @include breakpoint($mobile-bp) {
      bottom: -62px;
    }
  }

  .slick-dots li {
    list-style: none;
    margin: 0px 10px;
  }

  .slick-dots button {
    font-size: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #aeacaa;
    transition: 0.3s ease;

    @include breakpoint($mobile-bp) {
      width: 8px;
      height: 8px;
    }
  }

  .slick-dots li.slick-active button {
    background: #363431;
  }
}

.slider .slider__item img {
  max-width: 100%;
  height: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;

  @include breakpoint($tablet-bp) {
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
  }
}
