@charset "UTF-8";

.help__item__fourth, .help__item__three, .correction__scroll, .correction__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "VantaLight";
  src: url("../fonts/VantaLight.woff2") format("woff2"), url("../fonts/VantaLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Vanta";
  src: url("../fonts/Vanta.woff2") format("woff2"), url("../fonts/Vanta.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "icomoon";
  src: url("../fonts/icomoon.eot?6jziva");
  src: url("../fonts/icomoon.eot?6jziva#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6jziva") format("truetype"), url("../../fonts/icomoon.woff?6jziva") format("woff"), url("../fonts/icomoon.svg?6jziva#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
    content: "\e900";
    color: #fff;
}

.icon-vk:before {
    content: "\e901";
    color: #fff;
}

.icon-whatsup:before {
    content: "\e902";
    color: #fff;
}

.wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.main {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

[class*=__container] {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

[class*=__container-min] {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: "VantaLight", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #363431;
}

body._lock {
    overflow: hidden;
}

/****************Home******************/
.header {
    padding: 32px 0;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 991px) {
    .header {
        padding: 13px 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    }
}

.header__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
}

.header__logo img {
    max-width: 100%;
}

.header__logo .header__link {
    display: inline-block;
}

@media screen and (max-width: 991px) {
    .header__logo {
        max-width: 98px;
    }
}

@media screen and (max-width: 991px) {
    .header__menu {
        position: fixed;
        top: -100%;
        width: 100%;
        height: 100%;
        background: white;
        overflow: auto;
        left: 0;
        z-index: -1;
        transition: top 0.3s ease 0s;
    }

    .header__menu::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        height: 72px;
    }

    .header__menu._active {
        top: 0;
    }
}

.menu__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 56px;
}

@media screen and (max-width: 991px) {
    .menu__list {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-top: 100px;
    }
}

.menu__link {
    color: black;
    transition: 0.3s ease;
}

.menu__link:hover {
    color: #c7df9e;
}

.header__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 60px;
}

.header__telephone {
    display: -ms-flexbox;
    display: flex;
    gap: 17.5px;
}

.header__telephone .header__telephone__number {
    color: black;
}

.header__address {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 19px;
}

.adress__text {
    max-width: 362px;
    font-size: 14px;
    line-height: 150%;
}

@media (max-width: 1388px) {
    .header__address {
        display: none;
    }
}

@media (max-width: 992px) {
    .menu__item__position {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.menu__icon {
    display: none;
    position: relative;
    min-width: 24px;
    min-height: 14px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.menu__icon::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 1.1px;
    background: black;
    bottom: 0;
    transition: all 0.3s ease 0s;
}

.menu__icon::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 1.1px;
    background: black;
    top: 0;
    transition: all 0.3s ease 0s;
}

.menu__icon span {
    position: absolute;
    width: 24px;
    height: 1.1px;
    background: black;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 0.3s ease 0s;
}

.menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%);
}

.menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
    transform: rotate(-45deg) translate(0, -50%);
}

.menu__icon._active::after {
    -webkit-transform: rotate(45deg) translate(0, 50%);
    transform: rotate(45deg) translate(0, 50%);
    bottom: 50%;
}

@media screen and (max-width: 991px) {
    .menu__icon {
        display: block;
    }
}

.correction {
    background: url(../../assets/images/correction/corect-bg.jpg) no-repeat;
    background-size: cover;
    padding: 144px 0;
    color: white;
}

@media screen and (max-width: 991px) {
    .correction {
        margin-top: 70px;
        background-position: center;
    }
}

@media screen and (max-width: 575px) {
    .correction {
        padding: 72px 0 48px 0;
    }
}

.correction__title {
    font-size: 56px;
    line-height: 130%;
    max-width: 784px;
    margin: 0 auto 80px auto;
    text-align: center;
    position: relative;
}

.correction__title::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background: white;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

@media screen and (max-width: 575px) {
    .correction__title {
        font-size: 30px;
        line-height: 130%;
        max-width: 288px;
        margin-bottom: 48px;
    }

    .correction__title::before {
        bottom: -24px;
    }
}

.correction__text {
    font-size: 24px;
    line-height: 25px;
    max-width: 401px;
    margin: 0 auto 80px auto;
    text-align: center;
}

@media screen and (max-width: 575px) {
    .correction__text {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 56px;
    }
}

.correction__link {
    margin: 0 0 160px 0;
}

@media screen and (max-width: 575px) {
    .correction__link {
        margin: 0 0 65px 0;
    }
}

.link__on__tel {
    display: inline-block;
    color: white;
    font-size: 18px;
    line-height: 18px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    transition: 0.3s ease;
}

.link__on__tel:hover {
    background: rgba(255, 255, 255, 0.26);
    border: 1px solid rgba(255, 255, 255, 0.26);
}

.correction__scroll {
    cursor: pointer;
    position: relative;
    -webkit-animation-name: arrow_scroll;
    animation-name: arrow_scroll;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.correction__scroll:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes arrow_scroll {
    0% {
        top: 0;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}

@keyframes arrow_scroll {
    0% {
        top: 0;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}

.about {
    padding: 176px 0;
}

@media screen and (max-width: 991px) {
    .about {
        padding: 116px 0;
    }
}

@media screen and (max-width: 575px) {
    .about {
        padding: 72px 0;
    }
}

.title {
    font-size: 48px;
    line-height: 46px;
    text-align: center;
    margin: 0 auto 80px auto;
}

@media screen and (max-width: 575px) {
    .title {
        font-size: 28px;
        line-height: 27px;
        margin: 0 0 44px 0;
    }
}

.about__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 32px;
}

@media screen and (max-width: 575px) {
    .about__row {
        gap: 22px;
    }
}

.about__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width: 1357px) {
    .about__item {
        width: 40%;
    }
}

@media screen and (max-width: 575px) {
    .about__item {
        width: 100%;
    }
}

.about__item__image {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.about__item__image img {
    max-width: 100%;
}

.about__item__text {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    max-width: 240px;
    -ms-flex: 0 1 100px;
    flex: 0 1 100px;
}

@media screen and (max-width: 575px) {
    .about__item__text {
        font-size: 16px;
        line-height: 150%;
    }
}

.help {
    padding: 0 0 176px 0;
}

@media screen and (max-width: 991px) {
    .help {
        padding: 0 0 116px 0;
    }
}

@media screen and (max-width: 575px) {
    .help {
        padding: 0 0 72px 0;
    }
}

.help__title {
    max-width: 524px;
}

.help__row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    color: #ffffff;
    font-size: 28px;
    line-height: 130%;
}

@media screen and (max-width: 991px) {
    .help__row {
        gap: 12px;
    }
}

@media screen and (max-width: 882px) {
    .help__row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}

@media screen and (max-width: 575px) {
    .help__row {
        font-size: 16px;
        line-height: 130%;
    }
}

.help__item__one {
    grid-row: 1/3;
    grid-column: 1/2;
    padding: 48px 48px 456px 48px;
    border-radius: 16px;
    background: url(../images/help/help-one.jpg) center no-repeat;
    background-size: cover;
}

.help__item__one span {
    display: inline-block;
    max-width: 409px;
}

@media screen and (max-width: 575px) {
    .help__item__one {
        padding: 24px 24px 184px 24px;
    }
}

.help__item__two {
    grid-row: 1/2;
    grid-column: 2/4;
    border-radius: 16px;
    padding: 168px 48px 48px 48px;
    background: url(../images/help/help-two.jpg) center no-repeat;
    background-size: cover;
}

.help__item__two span {
    display: inline-block;
    max-width: 400px;
}

@media screen and (max-width: 575px) {
    .help__item__two {
        padding: 72px 24px 24px 24px;
    }
}

.help__item__three {
    padding: 0 20px;
    background: #c6c6c6;
    border-radius: 16px;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .help__item__three {
        font-size: 19px;
    }
}

@media screen and (max-width: 882px) {
    .help__item__three {
        padding: 50px 24px 50px 24px;
        font-size: 22px;
    }
}

@media screen and (max-width: 575px) {
    .help__item__three {
        font-size: 16px;
        line-height: 130%;
    }
}

.help__item__fourth {
    padding: 0 20px;
    background: #c7df9e;
    border-radius: 16px;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .help__item__fourth {
        font-size: 19px;
    }
}

@media screen and (max-width: 882px) {
    .help__item__fourth {
        padding: 50px 24px 50px 24px;
        font-size: 22px;
    }
}

@media screen and (max-width: 575px) {
    .help__item__fourth {
        font-size: 16px;
        line-height: 130%;
    }
}

.sale {
    padding: 176px 0 288px 0;
    background: #f3f3f3;
}

@media screen and (max-width: 991px) {
    .sale {
        padding: 116px 0 202px 0;
    }
}

@media screen and (max-width: 575px) {
    .sale {
        padding: 72px 0 152px 0;
    }
}

.slider__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: #ffffff;
    border-radius: 16px;
}

@media screen and (max-width: 991px) {
    .slider__item {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.slider__item__info {
    max-width: 512px;
    padding: 15px;
}

@media screen and (max-width: 575px) {
    .slider__item__info {
        padding: 24px;
    }
}

.slider__item__info .item__info__title {
    font-size: 32px;
    line-height: 130%;
    margin: 0 0 24px 0;
}

@media screen and (max-width: 575px) {
    .slider__item__info .item__info__title {
        font-size: 20px;
        margin: 0 0 16px 0;
    }
}

.slider__item__info .item__info__text {
    font-size: 18px;
    line-height: 170%;
    margin: 0 0 24px 0;
}

@media screen and (max-width: 575px) {
    .slider__item__info .item__info__text {
        font-size: 14px;
        margin: 0 0 16px 0;
    }
}

.item__info__prise {
    font-size: 32px;
    line-height: 170%;
    color: #74b900;
    margin: 0 0 32px 0;
}

@media screen and (max-width: 575px) {
    .item__info__prise {
        font-size: 20px;
        margin: 0 0 16px 0;
    }
}

.item__info__prise span {
    text-decoration: line-through;
    font-size: 18px;
    line-height: 170%;
}

@media screen and (max-width: 575px) {
    .item__info__prise span {
        font-size: 12px;
    }
}

.item__info__link {
    font-size: 18px;
    line-height: 170%;
    color: #363431;
    position: relative;
    transition: 0.3s ease;
}

@media screen and (max-width: 575px) {
    .item__info__link {
        font-size: 16px;
    }
}

.item__info__link::before {
    content: "";
    position: absolute;
    width: 107px;
    height: 1px;
    background: #363431;
    bottom: -15px;
    opacity: 0;
    transition: 0.3s ease;
}

@media screen and (max-width: 575px) {
    .item__info__link::before {
        width: 70px;
        bottom: -5px;
        opacity: 1;
    }
}

.item__info__link:hover {
    color: #c7df9e;
}

.item__info__link:hover::before {
    bottom: -5px;
    opacity: 1;
    background: #c7df9e;
}

@media screen and (max-width: 575px) {
    .item__info__link {
        font-size: 12px;
        line-height: 170%;
    }
}

.slider {
    position: relative;
  /* отступ в слайдах*/
    margin: 0 -15px;
  /* отступ в слайдах*/
}

.slider .slick-slider {
    min-width: 0;
}

.slider .slick-list {
    overflow: hidden;
}

.slider .slick-slide {
    padding: 0 15px;
}

.slider .slick-track {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider .slick-track {
    margin: 0 auto;
}

.slider .slick-arrow {
    position: absolute;
    bottom: -112px;
    z-index: 5;
    font-size: 0;
    width: 64px;
    height: 64px;
}

@media screen and (max-width: 575px) {
    .slider .slick-arrow {
        bottom: -80px;
        width: 40px;
        height: 40px;
    }
}

.slider .slick-arrow.slick-prev {
    left: 30%;
    background: url(../images/sale/arrow-left.png) 0 0/100% no-repeat;
}

@media screen and (max-width: 991px) {
    .slider .slick-arrow.slick-prev {
        left: 20%;
    }
}

@media screen and (max-width: 575px) {
    .slider .slick-arrow.slick-prev {
        left: 10px;
    }
}

.slider .slick-arrow.slick-next {
    right: 30%;
    background: url(../images/sale/arrow-right.png) 0 0/100% no-repeat;
}

@media screen and (max-width: 991px) {
    .slider .slick-arrow.slick-next {
        right: 20%;
    }
}

@media screen and (max-width: 575px) {
    .slider .slick-arrow.slick-next {
        right: 10px;
    }
}

.slider .slick-dots {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: -82px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

@media screen and (max-width: 575px) {
    .slider .slick-dots {
        bottom: -62px;
    }
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #aeacaa;
    transition: 0.3s ease;
}

@media screen and (max-width: 575px) {
    .slider .slick-dots button {
        width: 8px;
        height: 8px;
    }
}

.slider .slick-dots li.slick-active button {
    background: #363431;
}

.slider .slider__item img {
    max-width: 100%;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

@media screen and (max-width: 991px) {
    .slider .slider__item img {
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;
    }
}

.footer {
    padding: 80px 0;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 991px) {
    .footer {
        padding: 55px 0;
    }
}

@media screen and (max-width: 575px) {
    .footer {
        padding: 40px 0;
    }
}

@media screen and (max-width: 991px) {
    .footer__item__nav {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
}

.footer__menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 56px 0;
}

@media screen and (max-width: 991px) {
    .footer__menu {
        margin: 0 0 36px 0;
    }
}

.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #363431;
    transition: 0.3s ease;
}

.footer__link:hover {
    color: #c7df9e;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

@media screen and (max-width: 575px) {
    .footer__link {
        font-size: 14px;
        line-height: 14px;
    }
}

.footer__social {
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
}

@media screen and (max-width: 991px) {
    .footer__social {
        margin: 0 0 24px 0;
    }
}

.icon-whatsup {
    width: 40px;
    height: 40px;
    background: #f3f3f3;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: relative;
}

.icon-whatsup::before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 36px;
    transition: 0.3s ease;
}

.icon-whatsup:hover::before {
    color: #c7df9e;
}

.icon-vk {
    width: 40px;
    height: 40px;
    background: #f3f3f3;
    border-radius: 50%;
    position: relative;
}

.icon-vk::before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 12px;
    transition: 0.3s ease;
}

.icon-vk:hover::before {
    color: #c7df9e;
}

.icon-google {
    width: 40px;
    height: 40px;
    background: #f3f3f3;
    border-radius: 50%;
    position: relative;
}

.icon-google::before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 17px;
    transition: 0.3s ease;
}

.icon-google:hover::before {
    color: #c7df9e;
}

.footer__item p {
    font-size: 16px;
    line-height: 150%;
    max-width: 376px;
}

.footer__item p:first-child {
    margin: 0 0 16px 0;
}

.footer__item p:nth-child(2) {
    margin: 0 0 8px 0;
}

@media screen and (max-width: 575px) {
    .footer__item p {
        font-size: 14px;
        line-height: 170%;
    }
}

.footer__item__2 p {
    font-size: 16px;
    line-height: 150%;
    max-width: 351px;
}

.footer__item__2 p:first-child {
    margin: 0 0 16px 0;
}

.footer__item__2 p:nth-child(2) {
    margin: 0 0 32px 0;
}

@media screen and (max-width: 991px) {
    .footer__item__2 p {
        max-width: 376px;
    }
}

@media screen and (max-width: 575px) {
    .footer__item__2 p {
        font-size: 14px;
        line-height: 170%;
    }
}

.email__sand {
    display: -ms-flexbox;
    display: flex;
}

.email__sand__in {
    -ms-flex: 1 1 260px;
    flex: 1 1 260px;
    padding: 16px;
    background: #f3f3f3;
}

.email__sand__in::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.03em;
    color: #aeacaa;
}

.email__sand__in::-moz-placeholder {
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.03em;
    color: #aeacaa;
}

.email__sand__in:-ms-input-placeholder {
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.03em;
    color: #aeacaa;
}

.email__sand__in::-ms-input-placeholder {
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.03em;
    color: #aeacaa;
}

.email__sand__in::placeholder {
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.03em;
    color: #aeacaa;
}

@media screen and (max-width: 575px) {
    .email__sand__in::-webkit-input-placeholder {
        font-size: 12px;
        line-height: 170%;
    }

    .email__sand__in::-moz-placeholder {
        font-size: 12px;
        line-height: 170%;
    }

    .email__sand__in:-ms-input-placeholder {
        font-size: 12px;
        line-height: 170%;
    }

    .email__sand__in::-ms-input-placeholder {
        font-size: 12px;
        line-height: 170%;
    }

    .email__sand__in::placeholder {
        font-size: 12px;
        line-height: 170%;
    }
}

.button__email__in {
    font-size: 16px;
    line-height: 170%;
    color: #ffffff;
    background: #74b900;
    padding: 12px 30px;
    transition: 0.3s ease;
}

.button__email__in:hover {
    background: #c7df9e;
}

@media screen and (max-width: 575px) {
    .button__email__in {
        font-size: 14px;
        line-height: 170%;
    }
}

.footer__row__1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 15px;
    margin: 0 0 13px 0;
}

@media screen and (max-width: 991px) {
    .footer__row__1 {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        max-width: 376px;
        margin: 0 auto 32px auto;
    }
}

.footer__row__2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 15px;
}

@media screen and (max-width: 991px) {
    .footer__row__2 {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        gap: 0;
    }
}

.footer__copyright {
    line-height: 16px;
    color: #828282;
}

@media screen and (max-width: 575px) {
    .footer__copyright {
        font-size: 12px;
        line-height: 130%;
    }
}

.politic__link {
    font-size: 16px;
    line-height: 170%;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #828282;
    transition: 0.3s ease;
}

.politic__link:hover {
    color: #c7df9e;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

@media screen and (max-width: 991px) {
    .politic__link {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 575px) {
    .politic__link {
        font-size: 12px;
        line-height: 170%;
    }
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0 15px;
    top: 0;
    left: 0;
    background: rgba(54, 52, 49, 0.5);
    z-index: 200;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.8s ease;
}

.popup._open {
    opacity: 1;
    visibility: visible;
}

.popup__info {
    background: #ffffff;
    border-radius: 16px;
    max-width: 512px;
    padding: 72px 56px;
    position: relative;
    -webkit-transform: translate(0, -200%);
    transform: translate(0, -200%);
    transition: 0s ease;
}

.popup__info._open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: 0.8s ease;
}

.popup__info._form-out {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    opacity: 0;
    transition: 0.8s ease;
}

@media screen and (max-width: 575px) {
    .popup__info {
        padding: 48px 24px;
    }
}

.popup__close {
    width: 20px;
    height: 20px;
    background: url(../images/popup/close.png) center no-repeat;
    position: absolute;
    top: -35px;
    right: 0;
    cursor: pointer;
}

.popup__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    margin: 0 0 48px 0;
}

@media screen and (max-width: 575px) {
    .popup__title {
        font-size: 20px;
        line-height: 120%;
        margin: 0 0 24px 0;
    }
}

.js-input {
    width: 100%;
    padding: 20px;
    border: 0.5px solid #b2b2b2;
    border-radius: 4px;
    margin: 0 0 24px 0;
}

@media screen and (max-width: 575px) {
    .js-input {
        margin: 0 0 16px 0;
    }
}

.js-input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 120%;
}

.js-input::-moz-placeholder {
    font-size: 14px;
    line-height: 120%;
}

.js-input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 120%;
}

.js-input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 120%;
}

.js-input::placeholder {
    font-size: 14px;
    line-height: 120%;
}

.js-input._error {
    border: 1px solid red;
}

.js-check {
    display: none;
    position: absolute;
}

.label__check {
    display: block;
    font-size: 12px;
    line-height: 150%;
    padding: 0 0 0 30px;
    margin: 0 0 40px 0;
    position: relative;
}

@media screen and (max-width: 575px) {
    .label__check {
        font-size: 10px;
        line-height: 150%;
    }
}

.label__check::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #74b900;
    border-radius: 4px;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.label__check::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #74b900;
    background: #74b900 url(../images/popup/galka.png) center no-repeat;
    border-radius: 4px;
    opacity: 0;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    transition: 0.3s ease;
}

.label__check._error::before {
    border: 1px solid red;
}

.js-check:checked + .label__check::after {
    opacity: 1;
}

.form-sumbit {
    display: block;
    max-width: 241px;
    background: transparent;
    font-size: 14px;
    line-height: 14px;
    color: #74b900;
    border: 1px solid #74b900;
    border-radius: 8px;
    padding: 20px 40px;
    margin: 0 auto;
    transition: 0.3s ease;
}

.form-sumbit:hover {
    background: rgba(213, 235, 176, 0.4941176471);
}

/***********sucsesful**************/
.form__succsesfull {
    background: #ffffff;
    border-radius: 16px;
    padding: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    position: fixed;
    transition: 0.8s ease;
}

.form__succsesfull._form-out {
    opacity: 1;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    visibility: visible;
}

.succsesful__text {
    font-size: 22px;
    line-height: 120%;
    max-width: 300px;
    text-align: center;
}

@media screen and (max-width: 575px) {
    .succsesful__text {
        font-size: 18px;
    }
}

.button__close {
    display: block;
    max-width: 241px;
    background: transparent;
    font-size: 14px;
    line-height: 14px;
    color: #74b900;
    border: 1px solid #74b900;
    border-radius: 8px;
    padding: 20px 40px;
    margin: 0 auto;
    transition: 0.3s ease;
}

.button__close:hover {
    background: rgba(213, 235, 176, 0.4941176471);
}

/***************Services******************/
.breadcrumbs {
    padding: 24px 0 112px 0;
}

@media screen and (max-width: 991px) {
    .breadcrumbs {
        padding: 88px 0 92px 0;
    }
}

@media screen and (max-width: 575px) {
    .breadcrumbs {
        padding: 88px 0 72px 0;
    }
}

.breadcrumbs__row {
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
}

.breadcrumbs__row .breadcrumbs__link {
    color: #363431;
    transition: 0.3s ease;
}

.breadcrumbs__row .breadcrumbs__link:hover {
    color: #c7df9e;
}

.breadcrumbs__row .breadcrumbs__link__green {
    color: rgb(167, 221, 74);
    position: relative;
}

.breadcrumbs__row .breadcrumbs__link__green::before {
    content: "";
    position: absolute;
    height: 1.2px;
    width: 13px;
    background: #363431;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: -18px;
}

.services__container {
    position: relative;
}

.services__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 15px;
}

@media screen and (max-width: 991px) {
    .services__row {
        -ms-flex-pack: end;
        justify-content: flex-end;
        position: relative;
    }
}

.services__buttons {
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
}

@media screen and (max-width: 991px) {
    .services__buttons {
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 140px;
        gap: 7px;
        position: absolute;
        top: 10px;
        left: 0;
        visibility: hidden;
        overflow: auto;
        z-index: 5;
        height: 0;
        opacity: 1;
        transition: 0.3s ease;
    }

    .services__buttons._active-category {
        opacity: 1;
        height: 500px;
        visibility: visible;
    }
}

.services__button {
    font-size: 14px;
    line-height: 14px;
    padding: 16px 24px;
    background: white;
    border: 1px solid #828282;
    border-radius: 4px;
    transition: 0.3s ease;
}

.services__button:hover {
    color: white;
    background: #828282;
}

@media screen and (max-width: 575px) {
    .services__button {
        padding: 10px 20px;
    }
}

.category {
    display: none;
}

@media screen and (max-width: 991px) {
    .category {
        display: inline-block;
        position: absolute;
        top: 81px;
    }
}

@media screen and (max-width: 575px) {
    .category {
        top: 35px;
        padding: 10px 20px;
    }
}

/*input search*/
.services__serach {
    position: relative;
    display: inline-block;
    transition: 0.3s cubic-bezier(0, 0.8, 0, 1);
}

.services__serach:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.input__search {
    height: 100%;
    width: 0;
    padding: 0 42px 0 0px;
    background: transparent;
    transition: 0.3s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
}

.input__search:focus {
    width: 200px;
    z-index: 2;
    border-bottom: 2px solid #828282;
}

@media screen and (max-width: 1036px) {
    .input__search:focus {
        width: 150px;
    }
}

@media screen and (max-width: 388px) {
    .input__search:focus {
        width: 100px;
    }
}

.button__search {
    background: transparent;
    border: none;
    height: 28px;
    width: 28px;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
}

@media screen and (max-width: 991px) {
    .button__search {
        top: -35px;
    }
}

@media screen and (max-width: 575px) {
    .button__search img {
        max-width: 25px;
    }
}

/************ITEM-INFO*******************/
.services__row__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 32px;
    padding: 48px 0 176px 0;
}

@media screen and (max-width: 991px) {
    .services__row__items {
        padding: 48px 0 72px 0;
    }
}

@media screen and (max-width: 575px) {
    .services__row__items {
        padding: 16px 0 36px 0;
        gap: 24px;
    }
}

.services__item {
    max-width: 780px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 1630px) {
    .services__item {
        max-width: 650px;
    }
}

@media screen and (max-width: 1367px) {
    .services__item {
        max-width: 550px;
    }
}

@media screen and (max-width: 1167px) {
    .services__item {
        max-width: 450px;
    }
}

@media screen and (max-width: 991px) {
    .services__item {
        max-width: 780px;
    }
}

.services__item__image img {
    max-width: 100%;
}

.services__item__info {
    background: #f9f9f9;
    border-radius: 0px 0px 16px 16px;
    padding: 48px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media screen and (max-width: 1367px) {
    .services__item__info {
        padding: 38px;
    }
}

@media screen and (max-width: 991px) {
    .services__item__info {
        padding: 20px;
    }
}

.services__item__title {
    display: inline-block;
    font-size: 32px;
    color: #363431;
    line-height: 130%;
    margin: 0 0 24px 0;
    transition: 0.3s ease;
}

.services__item__title:hover {
    color: #c7df9e;
}

@media screen and (max-width: 1167px) {
    .services__item__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 575px) {
    .services__item__title {
        font-size: 18px;
    }
}

.item__list__text {
    font-size: 20px;
    line-height: 130%;
    margin: 0 0 16px 0;
    max-width: 400px;
}

.item__list__text .line-through {
    font-size: 15px;
    text-decoration: line-through;
}

.item__list__text:last-child {
    margin: 0;
}

@media screen and (max-width: 1167px) {
    .item__list__text {
        font-size: 17px;
    }
}

@media screen and (max-width: 575px) {
    .item__list__text {
        font-size: 14px;
    }
}

.item__list__text__link {
    color: #363431;
    text-decoration: underline;
    transition: 0.3s ease;
}

.item__list__text__link:hover {
    color: #c7df9e;
    text-decoration: underline;
}