<header class="header">
  <div class="header__container">
    <div class="header__row">
      <div class="menu__icon">
        <span></span>
      </div>
      <div class="header__logo">
        <a href="index.html" class="header__link">
          <img src="assets/images/logo.png" alt="body time" />
        </a>
      </div>
      <nav class="header__menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="services.html" class="menu__link">Наши услуги</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Акции</a>
          </li>
          <li class="menu__item menu__item__position" data-da=".header__row, 992, last">
            <a href="" class="menu__link menu__link__burger">Прайс</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__info" data-da=".menu__list, 992, last">
        <div class="header__telephone">
          <a href="tel:8 (913) 944-93-63" class="header__telephone__link">
            <img src="assets/images/telephone-icon.png" alt="telephone" />
          </a>
          <a href="#" class="header__whatsapp__link">
            <img src="assets/images/whatsapp.png" alt="whatsapp" />
          </a>
          <a href="tel:8 (913) 944-93-63" class="header__telephone__number">8 (913) 944-93-63</a>
        </div>
        <div class="header__address">
          <img src="assets/images/map-icon.png" alt="map" />
          <p class="adress__text">г. Новосибирск, ул. Вокзальная магистраль,16, оф. 205, 2 эт.</p>
        </div>
      </div>
    </div>
  </div>
</header>
